{%extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
</br>

<h1>
	About me
</h1>
</br>

<p>
<b>Languages:</b> PHP, Javascript, Python, C#.
</p>

<p>
<b>Frameworks:</b> Laravel, Botman, Voyager, Shopify, WordPress, .NET, Django, Opencart.
</p>

<p>
<b>Chatbots: </b>Web Chatbot, NLP, Facebook Messenger, Telegram, Alexa Voice Bot.
</p>

<p>
<b>Tools: </b>MySQL Workbench, Git, Dialogflow.
</p>

<p>
<b>Editor Journey: </b>Sublime, Netbeans, VS Code, Vim, PHP Storm.
</p>

<p>
<b>Operating System:</b> Ubuntu, Linux, Windows
</p>

<p>
	<h3>Experience</h3>
</p>


<p>
	<b>Total Exp. -</b> 4+ Years
</p>

{% endblock %}