{%extends 'base.html' %}
{% load static %}

{% block title %}Netapp Documentation{% endblock %}

{% block content %}
</br>

<h1>
	Netapp docs
</h1>

</br>
</br>

<h2>Accessing NetApp Ontap Using RestAPI</h2>
</br>
<h3>
    What is NetApp?
</h3>
<div class="text-size p2">
    <span>NetApp specializes in data storage equipment and associated management software. 
		The company sells storage systems products to organizations and service providers.
		<br>
		<br>
		NetApp’s biggest selling storage systems run on the ONTAP operating system. 
		
    </span>
</div>
<br>
<h3>
    What is ONTAP?
</h3>
<div class="text-size p2">
    <span>ONTAP is NetApp's proprietary operating system used in storage disk arrays such as NetApp FAS and AFF, 
		ONTAP Select, and Cloud Volumes ONTAP. With the release of version 9.0, NetApp decided to simplify the Data ONTAP name 
		and removed the word "Data" from it, and remove the 7-Mode image.
		<br>
		<br>
		ONTAP has evolved from NetApp’s original operating system way back in the day when the company first started,
		 and it’s still their most popular and widely-deployed operating system. The different platforms that it can run on now
		  are FAS, AFF, ONTAP Select, Cloud Volumes ONTAP, and NetApp Private Storage.
    </span>
</div>

<br>
<h3>
    How to access ONTAP API?
</h3>
<div class="text-size p2">
    <span>
    </span>
</div>
{% endblock %}