{%extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
</br>

<h1>Documentation</h1>
</br>

<p>Development primarily takes place on <a href="https://github.com/DMarkStorage" target="_blank">
   GitHub</a>. Check it out to see all my projects</p>
<p>If you have any questions or inquiries, feel free to email me.

<a href = "mailto:mmark8w@gmail.com?subject = inquiries = Message">
	<em>Contact Me</em>
</a>
 ().</p>


 <br>
<ul>
	<li style="text-transform:uppercase;">
		<a href="{% url 'Vault'%}">
			Vault
		</a>
	</li>
	<li style="text-transform:uppercase;">
		<a href="{% url 'Netapp'%}">
			NetApp
		</a>
	</li>
</ul>






{% endblock %}