{%extends 'base.html' %}
{% load static %}

{% block title %}Vault Documentation{% endblock %}

{% block content %}
</br>

<h1>
	Vault docs
</h1>
</br>
</br>

<h3>Installing Vault on local machine:</h3>

<h4>
    What is Vault?
</h4>
<p style="font-size:18px">Vault is an identity-based&nbsp;<strong>secrets</strong>&nbsp;and encryption management system.
    Vault provides encryption services that are gated by authentication and authorization methods.
    Using Vault’s UI, CLI, or HTTP API, access to secrets and other sensitive data can be securely stored and managed,
     tightly controlled (restricted), and auditable</p>

     
{% endblock %}